<a href="https://colab.research.google.com/github/jazu1412/CMPE255_DATA_MINING_FALL24/blob/master/derek_banas_python_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Derek Banas Python Tutorial Programs##

# PRINT STATEMENTS

## Print Statement 1.1

In [ ]:
print("Hello World")
name = "Jayasurya Murali"
print(name)

Hello World
Jayasurya Murali

## Print Arithmetic Operation 1.2

In [ ]:
name = 15
print(name)

print("5 + 2",5 + 2)
print("5 - 2,",5 - 2)
print("5 / 2",5 / 2)
print("5 // 2",5 // 2)
print("5 % 2",5 % 2)
print("5 * 2",5 * 2)
print("5 ** 2",5 ** 2)

15
5 + 2 7
5 - 2, 3
5 / 2 2.5
5 // 2 2
5 % 2 1
5 * 2 10
5 ** 2 25

##Order of Execution in Expression 1.2

In [ ]:
print(1 + 2 - 3 * 2 )
print((1 + 2 - 3) * 2 )

-3
0

##Quote and string printing 1.3

In [ ]:
quote = "\"Always remember you are unique"
multi_line_quote = ''' just
    like everyone else '''

new_string = quote +  multi_line_quote
print(new_string)

"Always remember you are unique just
    like everyone else

## Multi parameter single line print 1.4

In [ ]:

print("%s %s %s" % ('I like the quote',quote,multi_line_quote))

I like the quote "Always remember you are unique  just
    like everyone else

## Two lines code statement to print one line 1.5

In [ ]:
print("I dont like ",end="")
print("newlines")

I dont like newlines

## 5 new lines are printed 1.6

In [ ]:
print("starting of new lines")

print('\n'*5)

print("5 new lines are added above")

starting of new lines






5 new lines are added above

# LISTS

## Printing Lists

In [ ]:
grocery_list = ['juices','tomatoes','potatoes','bananas','apples']

print('First Item',grocery_list[0])

grocery_list[0] = 'Corn Syrup'

print('First Item',grocery_list[0])

print(grocery_list[0:2])

other_list = ['Wash Car','Pick Up Kids', 'Cash Check']

to_do_list = [grocery_list,other_list]

print(to_do_list[0][2])

print(to_do_list[1][1])

First Item juices
First Item Corn Syrup
['Corn Syrup', 'tomatoes']
potatoes
Pick Up Kids

##Append List and print

In [ ]:
grocery_list.append("Onions")

print(to_do_list)

[['Corn Syrup', 'tomatoes', 'potatoes', 'bananas', 'apples', 'Onions'], ['Wash Car', 'Pick Up Kids', 'Cash Check']]

Insert item in List and Remove and Print

In [ ]:
grocery_list.insert(4,"Pickle")

print(to_do_list)


grocery_list.remove("Pickle")

print(to_do_list)

[['Corn Syrup', 'tomatoes', 'potatoes', 'bananas', 'Pickle', 'apples', 'Onions'], ['Wash Car', 'Pick Up Kids', 'Cash Check']]
[['Corn Syrup', 'tomatoes', 'potatoes', 'bananas', 'apples', 'Onions'], ['Wash Car', 'Pick Up Kids', 'Cash Check']]