<a href="https://colab.research.google.com/github/jazu1412/CMPE255_DATA_MINING_FALL24/blob/master/Derek_Banas_Python_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Derek Banas Python Tutorial Programs##

# PRINT STATEMENTS

## *Print Statement 1.1*

In [10]:
print("Hello World")
name = "Jayasurya Murali"
print(name)

Hello World
Jayasurya Murali

## *Print Arithmetic Operation 1.2*

In [11]:
name = 15
print(name)

print("5 + 2",5 + 2)
print("5 - 2,",5 - 2)
print("5 / 2",5 / 2)
print("5 // 2",5 // 2)
print("5 % 2",5 % 2)
print("5 * 2",5 * 2)
print("5 ** 2",5 ** 2)

15
5 + 2 7
5 - 2, 3
5 / 2 2.5
5 // 2 2
5 % 2 1
5 * 2 10
5 ** 2 25

##*Order of Execution in Expression 1.2*

---

In [12]:
print(1 + 2 - 3 * 2 )
print((1 + 2 - 3) * 2 )

-3
0

##Quote and string printing 1.3

In [24]:
quote = "\"Always remember you are unique"
multi_line_quote = ''' just
    like everyone else '''

new_string = quote +  multi_line_quote
print(new_string)

"Always remember you are unique just
    like everyone else

## Multi parameter single line print 1.4

In [25]:

print("%s %s %s" % ('I like the quote',quote,multi_line_quote))

I like the quote "Always remember you are unique  just
    like everyone else

## Two lines code statement to print one line 1.5

In [26]:
print("I dont like ",end="")
print("newlines")

I dont like newlines

## 5 new lines are printed 1.6

In [29]:
print("starting of new lines")

print('\n'*5)

print("5 new lines are added above")

starting of new lines






5 new lines are added above

# LISTS

## Printing Lists

In [47]:
grocery_list = ['juices','tomatoes','potatoes','bananas','apples']

print('First Item',grocery_list[0])

grocery_list[0] = 'Corn Syrup'

print('First Item',grocery_list[0])

print(grocery_list[0:2])

other_list = ['Wash Car','Pick Up Kids', 'Cash Check']

to_do_list = [grocery_list,other_list]

print(to_do_list[0][2])

print(to_do_list[1][1])

First Item juices
First Item Corn Syrup
['Corn Syrup', 'tomatoes']
potatoes
Pick Up Kids

##Append List and print

In [48]:
grocery_list.append("Onions")

print(to_do_list)

[['Corn Syrup', 'tomatoes', 'potatoes', 'bananas', 'apples', 'Onions'], ['Wash Car', 'Pick Up Kids', 'Cash Check']]

Insert item in List and Remove and Print

In [56]:
grocery_list.insert(4,"Pickle")

print(to_do_list)


grocery_list.remove("Pickle")

print(to_do_list)

[['Corn Syrup', 'tomatoes', 'potatoes', 'bananas', 'Pickle', 'apples', 'Onions'], ['Wash Car', 'Pick Up Kids', 'Cash Check']]
[['Corn Syrup', 'tomatoes', 'potatoes', 'bananas', 'apples', 'Onions'], ['Wash Car', 'Pick Up Kids', 'Cash Check']]

## Sort , Reverse , Delete , Min , Max,  Len in Lists

In [58]:
grocery_list.sort
grocery_list.reverse

del grocery_list[4]
print(to_do_list)


to_do_list2 = other_list + grocery_list

print(max(to_do_list2))
print(min(to_do_list2))
print(len(to_do_list2))

[['Corn Syrup', 'tomatoes', 'potatoes', 'bananas'], ['Wash Car', 'Pick Up Kids', 'Cash Check']]
tomatoes
Cash Check
7

#TUPLE

In [60]:
pi_tuple = (3,1,4,1,5,9)

new_tuple = tuple(pi_tuple)

new_list = list(new_tuple)


print("new tuple max", max(new_tuple) )
print("new tuple min", min(new_tuple) )
print("new tuple len", len(new_tuple) )

new tuple max 9
new tuple min 1
new tuple len 6

# DICTIONARY AND MAP

In [62]:
super_villains = {'Fiddler':'Isaac Bowin','Captain cold':'Leonard Snart','Weather Wizard':'Mark Madonn','Mirror Master':'Sam Scudder','Pied Piper':'Thomas Peterson'}

print(super_villains['Captain cold'])

del super_villains['Fiddler']

super_villains['Pied Piper']='Hartley Rathaway'

print(len(super_villains))

super_villains.get('Pied Piper')

print(super_villains.keys())

print(super_villains.values())

Leonard Snart
4
dict_keys(['Captain cold', 'Weather Wizard', 'Mirror Master', 'Pied Piper'])
dict_values(['Leonard Snart', 'Mark Madonn', 'Sam Scudder', 'Hartley Rathaway'])