<a href="https://colab.research.google.com/github/jazu1412/CMPE255_DATA_MINING_FALL24/blob/master/ASSIGNMENT-1/Derek_Banas_Python_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Derek Banas Python Tutorial Programs##

# PRINT STATEMENTS

## *Print Statement 1.1*

In [ ]:
print("Hello World")
name = "Jayasurya Murali"
print(name)

Hello World
Jayasurya Murali

## *Print Arithmetic Operation 1.2*

In [ ]:
name = 15
print(name)

print("5 + 2",5 + 2)
print("5 - 2,",5 - 2)
print("5 / 2",5 / 2)
print("5 // 2",5 // 2)
print("5 % 2",5 % 2)
print("5 * 2",5 * 2)
print("5 ** 2",5 ** 2)

15
5 + 2 7
5 - 2, 3
5 / 2 2.5
5 // 2 2
5 % 2 1
5 * 2 10
5 ** 2 25

##*Order of Execution in Expression 1.2*

---

In [ ]:
print(1 + 2 - 3 * 2 )
print((1 + 2 - 3) * 2 )

-3
0

##Quote and string printing 1.3

In [ ]:
quote = "\"Always remember you are unique"
multi_line_quote = ''' just
    like everyone else '''

new_string = quote +  multi_line_quote
print(new_string)

"Always remember you are unique just
    like everyone else

## Multi parameter single line print 1.4

In [ ]:

print("%s %s %s" % ('I like the quote',quote,multi_line_quote))

I like the quote "Always remember you are unique  just
    like everyone else

## Two lines code statement to print one line 1.5

In [ ]:
print("I dont like ",end="")
print("newlines")

I dont like newlines

## 5 new lines are printed 1.6

In [ ]:
print("starting of new lines")

print('\n'*5)

print("5 new lines are added above")

starting of new lines






5 new lines are added above

# LISTS

## Printing Lists

In [ ]:
grocery_list = ['juices','tomatoes','potatoes','bananas','apples']

print('First Item',grocery_list[0])

grocery_list[0] = 'Corn Syrup'

print('First Item',grocery_list[0])

print(grocery_list[0:2])

other_list = ['Wash Car','Pick Up Kids', 'Cash Check']

to_do_list = [grocery_list,other_list]

print(to_do_list[0][2])

print(to_do_list[1][1])

First Item juices
First Item Corn Syrup
['Corn Syrup', 'tomatoes']
potatoes
Pick Up Kids

##Append List and print

In [ ]:
grocery_list.append("Onions")

print(to_do_list)

[['Corn Syrup', 'tomatoes', 'potatoes', 'bananas', 'apples', 'Onions'], ['Wash Car', 'Pick Up Kids', 'Cash Check']]

Insert item in List and Remove and Print

In [ ]:
grocery_list.insert(4,"Pickle")

print(to_do_list)


grocery_list.remove("Pickle")

print(to_do_list)

[['Corn Syrup', 'tomatoes', 'potatoes', 'bananas', 'Pickle', 'apples', 'Onions'], ['Wash Car', 'Pick Up Kids', 'Cash Check']]
[['Corn Syrup', 'tomatoes', 'potatoes', 'bananas', 'apples', 'Onions'], ['Wash Car', 'Pick Up Kids', 'Cash Check']]

## Sort , Reverse , Delete , Min , Max,  Len in Lists

In [ ]:
grocery_list.sort
grocery_list.reverse

del grocery_list[4]
print(to_do_list)


to_do_list2 = other_list + grocery_list

print(max(to_do_list2))
print(min(to_do_list2))
print(len(to_do_list2))

[['Corn Syrup', 'tomatoes', 'potatoes', 'bananas'], ['Wash Car', 'Pick Up Kids', 'Cash Check']]
tomatoes
Cash Check
7

#TUPLE

In [ ]:
pi_tuple = (3,1,4,1,5,9)

new_tuple = tuple(pi_tuple)

new_list = list(new_tuple)


print("new tuple max", max(new_tuple) )
print("new tuple min", min(new_tuple) )
print("new tuple len", len(new_tuple) )

new tuple max 9
new tuple min 1
new tuple len 6

# DICTIONARY AND MAP

In [ ]:
super_villains = {'Fiddler':'Isaac Bowin','Captain cold':'Leonard Snart','Weather Wizard':'Mark Madonn','Mirror Master':'Sam Scudder','Pied Piper':'Thomas Peterson'}

print(super_villains['Captain cold'])

del super_villains['Fiddler']

super_villains['Pied Piper']='Hartley Rathaway'

print(len(super_villains))

super_villains.get('Pied Piper')

print(super_villains.keys())

print(super_villains.values())

Leonard Snart
4
dict_keys(['Captain cold', 'Weather Wizard', 'Mirror Master', 'Pied Piper'])
dict_values(['Leonard Snart', 'Mark Madonn', 'Sam Scudder', 'Hartley Rathaway'])

#CONDITIONALS

## If and elif

In [ ]:
age = 21

if age > 16 :
    print("you are eligible to drive a car")
else :
    print("you are not eligible to drive a car")

age = 13

if age > 21 :
    print("you are eligible to drive a tractor trailer")
elif age > 16 :
      print("you are eligible to drive a car")
else :
     print("you are not eligible to drive a car")

age = 30

if( (age>=1) and (age<=18) ) :
     print('you get a birthday')
elif age==21 or (age>=65) :
     print('you get a birthday')
elif not(age==30) :
     print("you dont get a birthday")
else :
     print("you get a birthday party yes")

you are eligible to drive a car
you are not eligible to drive a car
you get a birthday party yes

#LOOPING

##FOR LOOP

### Looping a range

In [ ]:
for x in range(0,10):
    print(x,'',end=" ")

0  1  2  3  4  5  6  7  8  9

###Looping a list

In [ ]:
grocery_list = ['tomatoes','oranges','bananas','juices','apples']

for x in grocery_list :
    print( x)

tomatoes
oranges
bananas
juices
apples

###Looping a range of array

In [ ]:
for x in [2,4,6,8,10] :
    print(x)

2
4
6
8
10

###Looping a range of 2d list

In [ ]:
num_list = [[1,2,3],[10,20,30],[100,200,300]]

for x in range(0,3) :
  print('\n')
  for y in range(0,3) :
     print(num_list[x][y],'',end="")

1 2 3

10 20 30

100 200 300

##WHILE LOOP

In [ ]:
import random
random_num = random.randrange(0,100)

while(random_num!=15):
  print(random_num)
  random_num=random.randrange(0,100)

33
41
85
48
97
2
29
45
32
50

In [ ]:
i=0

while i<=20 :
  if i%2 == 0 :
    print(i)
  elif i==9  :
     break
  else :
     i+=1
     continue

  i+=1

0
2
4
6
8

# FUNCTIONS

## Add Function

In [116]:
def addNumber(firstNum, lastNum) :
    sumNum = firstNum+lastNum
    print('%d + %d = %d' % (firstNum, lastNum, sumNum))
    return sumNum

print(addNumber(4,6))

4 + 6 = 10
10

Subtract Function

# STANDARD INPUT

In [119]:
import sys
print("What is your name")
name = input() # since google colab is a web based interface below readline wont work here

#name = sys.stdin.readline()

print("hello", name)

What is your name
Jayasurya
hello Jayasurya

#STRING FUNCTIONS

In [131]:
long_string = "i'll catch you if you fall - The Floor"

print(long_string[0:4])

print(long_string[-5:])

print(long_string[:-5])

print(long_string[:4]+" be there ")

i'll
Floor
i'll catch you if you fall - The
i'll be there

In [132]:
print('%c is my %s letter and my  number %d number is %.3f '%('X','favourite',1,1.14))

X is my favourite letter and my  number 1 number is 1.140

In [133]:
long_string.capitalize()

"I'll catch you if you fall - the floor"

In [134]:
long_string.find("Floor")

33

In [135]:
long_string.isalpha()

False

In [136]:
long_string.isalnum()

False

In [137]:
len(long_string)

38

In [138]:
long_string.replace("Floor","Ground")

"i'll catch you if you fall - The Ground"

In [140]:

long_string = "     leading spaces trailing spaces.     "
long_string.strip()

'leading spaces trailing spaces.'

In [144]:
long_string = "trains, cars, buses, airplanes"
split_long_string = long_string.split(",")
print(split_long_string)


quote_list = quote.split(" ")
print(quote_list)

['trains', ' cars', ' buses', ' airplanes']
['"Always', 'remember', 'you', 'are', 'unique']

#FILE READ/WRITE

In [212]:
test_file =  open("test.txt","ab+")

In [213]:
print(test_file.mode)

ab+

In [214]:
print(test_file.name)

test.txt

In [215]:
test_file.write(bytes("Append me to the test file\n",'UTF-8'))

27

In [216]:

test_file = open("test.txt","r+")
text_in_file = test_file.read()
print(text_in_file)

Append me to the test file
Append me to the test file
Append me to the test file

CLASSES AND OBJECTS

##Class Definition

In [220]:
class Animal :

  __name = ""
  __height =0
  __weight =0
  __sound = ""


  def set_name(self,name) :
       self.__name=name

  def set_height(self,height) :
       self.__height=height

  def set_weight(self,weight) :
       self.__weight = weight

  def set_sound(self,sound) :
       self.__sound=sound


  def  get_name(self) :
      return self.__name

  def get_height(self) :
       return self.__height

  def get_weight(self) :
       return self.__weight

  def get_sound(self) :
       return self.__sound

  def __init__(self,name,height,weight,sound):
      self.__name=name
      self.__height=height
      self.__weight=weight
      self.__sound=sound


  def get_types(self) :
      print("Animal")

  def toString(self) :
    print("{} is {} cm tall and is of weight {} kg and says {}".format(self.__name,
                                                                       self.__height,
                                                                       self.__weight,
                                                                       self.__sound))

##Object Creation

In [231]:
  cat = Animal('Whiskers',33,10,'Meow')
  print(cat.toString())

Whiskers is 33 cm tall and is of weight 10 kg and says Meow
None